<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <h3 class="text-center text-muted text-sm"><%= t('.header', title: @test_passage.test.title) %></h3>
    <p>
      <% if @test_passage.test.timer_exists? %>
        Time left: <%= content_tag :span, '', class: 'timer', data: { timer:  @test_passage.time_left } %>
      <% end %>
    </p>
    <div class = "text-sm-left text-info">
      <%= t('.number_q')%> <%= @test_passage.total_questions_count %> <br>
      <%= t('.count_q')%><%= @test_passage.number_current_question %>
    </div>
    <b class="text-dark">
      <%= @test_passage.current_question.body %>
    </b>
    <div class="form-check">
        <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
          <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
              <div class="col">
                <%= b.check_box id: "answer_ids_#{b.object.id}", class: 'form-check-input' %>
                <%= b.label %>
              </div>
          <% end %>
          <p><%= link_to t('.gist'), gist_test_passage_path(@test_passage), method: :post %></p>
          <p><%= form.submit 'Next', class: 'btn btn-outline-primary btn-sm next' %></p>
        <% end %>
    <%= content_tag :div, class: 'myProgress' do %>
        <%= content_tag :div,
                class: ['progress-bar', 'bg-danger'],
                value: @test_passage.number_current_question,
                max: @test_passage.total_questions_count do %>
        <% end %>
    <% end %>


    </div>
  </div>
</div>

