<div class="navbar navbar-light bg-light">
  <%= link_to "TestGuru", root_path, class: "navbar-brand" %>

  <span class="navbar-text bg-light">
    <% if user_signed_in? %>
      <b><%=current_user.email %></b> &nbsp;|&nbsp;
      <% if current_user.admin? %>
        <%= link_to 'Admin Panel', admin_tests_path %> &nbsp;|&nbsp;
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% end %>
    <% else %>
      <%= link_to "Log in", new_session_path(resource_name) %> &nbsp;|&nbsp;
      <%= link_to "Sign up", new_registration_path(resource_name) %>
    <% end %>
  </span>
</div>
