<h2><%= t('.header') %></h2>

<table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.author') %></th>
    <th><%= t('.count_q') %></th>
    <th><%= t('.action') %></th>
  </tr>
  <%= render partial: "test", collection: @tests %>
</table>
