<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>
<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>
<p>
  <strong>Author:</strong>
  <%= @test.author.name %>
</p>

<h5>Table questions</h5>
<table>
  <tr>
    <th>Body Questions</th>
    <th colspan ="3">Action</th>
  </tr>
  <%= render 'shared/render_test_questions', resource: @test %>
</table><br>
<%= link_to 'Create Question', new_test_question_path(@test) %><br>

<%= link_to 'Back', tests_path %>


